body{
    background-color: #1b212c;
}

ol{
    color: white;
    text-align: center;
    font-size: 35px;
}

h1{
    color: white;
    text-align: center;
}

N{
    margin-left: 1366px;
}

